@use "../util" as *;

:root {
    --lendmark: hsl(100, 30%, 41%);
    --gray: hsl(210, 12%, 64%);
    --gray2: hsl(210, 12%, 90%);
    --dark-nav: hsla(280, 5%, 11%, 0.8);
    --dark1: hsl(0, 0%, 5%);
    --dark2: hsl(210, 13%, 6%);
    --dark-box: hsl(280, 6%, 10%);
    --dark-box-stroke: hsl(0, 0%, 17%);
}
