@use "../util" as *;

:root {
    --font-main: "Poppins", sans-serif;

    //margin
    --margin-extreme: rem(180);
    --margin-xxlarge: rem(100);
    --margin-xlarge: rem(80);
    --margin-large: rem(50);
    --margin-xmedium: rem(35);
    --margin-medium: rem(25);
    --margin-small: rem(15);
    --margin-smaller: rem(10);
    --margin-smallest: rem(5);

    //border radius
    --br-cards: rem(15);
    --br-footer-links: rem(5);
    --br-dropdown: rem(8);

    //border sitze (width)
    --border-width-small: rem(1);

    //mode selector drop shadow
    --mode-selector-ds: 0.75rem;

    //breakpoints
    --breakpoint-medium: 40em;
    --breakpoint-large: 71.875em;
    --breakpoint-xlarge: 87.5em;
}
