@use "../util" as *;

h1,
h2,
h3 {
    margin-top: 0;
    line-height: 1.1;
}

a,
a:visited,
a:active {
    text-decoration: underline;
    color: var(--lendmark);
    transition: 0.2s;
    &:hover {
        color: white;
    }
}

//font
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
li,
ul,
td,
th,
figure,
blockquote,
dl,
dd {
    font-family: var(--font-main);
    color: white;
}

h1 {
    font-weight: 900;
    font-size: rem(35);
    color: var(--gray2);
}
h2 {
    font-weight: 800;
    font-size: rem(30);
    color: var(--gray2);
}
h3 {
    font-weight: 800;
    font-size: rem(25);
    color: var(--gray2);
}
h4 {
    font-weight: 700;
    font-size: rem(25);
    color: var(--gray2);
}
h4 {
    font-weight: 600;
    font-size: rem(25);
    color: var(--gray2);
}
h5 {
    margin: 0;
    font-weight: 500;
    font-size: rem(25);
    color: var(--gray2);
}
h6 {
    margin: 0;
    font-weight: 600;
    font-size: rem(20);
    color: var(--gray2);
}
p {
    font-size: rem(17);
    color: var(--gray);
}
li {
    color: var(--gray2);
}
hr {
    border: 1px solid var(--dark-box-stroke);
    border-radius: 5px;
}
