@use "../util" as *;
//LOCAL VARIABLES
$footer-bg: url("/footer_bg.png");

footer {
    padding-top: var(--margin-medium);
    padding-bottom: var(--margin-large);
    background-color: var(--dark-box);
    background-image: $footer-bg;
    background-position: top;
    background-size: cover;
    .footer_links {
        ul {
            display: flex;
            flex-direction: row;
            justify-content: center;
            list-style-type: none;
            li {
                margin-left: var(--margin-small);
                margin-right: var(--margin-small);
                transition: 0.1s;
            }
        }
        a,
        a:visited,
        a:active {
            text-decoration: underline;
            color: var(--gray);
            font-weight: 600;
            transition: 0.2s;
            &:hover {
                color: white;
            }
        }
    }
    .footer_credit {
        text-align: center;
        .mojang {
            font-weight: 200;
            font-size: small;
        }
    }
}
