@use "../util" as *;
//LOCAL VARIABLES
$footer-bg: url("/backgrounds/footer_bg.png");

footer {
    padding-top: var(--margin-medium);
    padding-bottom: var(--margin-large);
    background-color: var(--dark-box);
    background-image: $footer-bg;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    .footer_links {
        ul {
            display: flex;
            flex-direction: row;
            justify-content: center;
            list-style-type: none;
            li {
                margin-left: var(--margin-smallest);
                margin-right: var(--margin-smallest);
                transition: 0.1s;
            }
        }
        a,
        a:visited,
        a:active {
            padding: var(--margin-smallest) var(--margin-small);
            text-decoration: none;
            color: var(--gray);
            font-weight: 600;
            font-size: rem(20);
            transition: 0.2s;
            border-radius: var(--br-footer-links);
            transition: 0.2s;
            &:hover {
                color: white;
                background-color: var(--gray-footer);
            }
        }
    }
    .footer_credit {
        text-align: center;
        .mojang {
            font-weight: 200;
            font-size: small;
        }
    }
}
