// HEADER (WIKI, BUTTONS)
header {
    padding-top: rem(15);
    padding-bottom: rem(100);
    background-image: url("/bg.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @media (min-width: 71.875em) {
        padding-top: rem(30);
        padding-bottom: rem(180);
    }

    .title {
        width: 300px;
        height: 225px;
        @media (min-width: 40em) {
            width: 487px;
            height: 365px;
        }
    }

    button {
        margin-top: rem(35);
        background-size: cover;
        border: none;
        width: 305px;
        height: 38px;
        @media (min-width: 40em) {
            width: 552px;
            height: 69px;
        }
    }
    .tlacitko_discord {
        text-indent: -9999px; //remove text
        background-image: url("/tlacitko_discord.png");
        &:hover {
            background-image: url("/tlacitko_active_discord.png");
        }
    }
    .tlacitko_web {
        text-indent: -9999px; //remove text
        background-image: url("/tlacitko_web.png");
        &:hover {
            background-image: url("/tlacitko_active_web.png");
        }
    }
}

//welcome (fox, text)
.vitaj {
    padding-top: rem(50);
    padding-bottom: rem(50);
    background-color: var(--dark1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    @media (min-width: 40em) {
        flex-direction: row;
        text-align: left;
    }
    .fox {
        width: 200px;
        height: 200px;
        margin-bottom: rem(20);
        @media (min-width: 40em) {
            width: 300px;
            height: 300px;
            margin-bottom: 0;
        }
    }
}

//mode selector (title, boxes)
.herny_mod {
    padding-top: rem(50);
    padding-bottom: rem(100);
    h3 {
        text-align: center;
        @media (min-width: 40em) {
            text-align: left;
        }
    }
    section {
        margin-top: rem(80);
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        @media (min-width: 40em) {
            flex-direction: row;
            align-items: center;
        }
        div {
            background-color: var(--dark-box);
            border-radius: rem(25);
            border-color: var(--dark-box-stroke);
            border-style: solid;
            border-width: rem(1);
            box-sizing: border-box;
            padding: rem(40);
            transition: 0.2s;
            text-align: center;
            margin-bottom: rem(50);
            @media (min-width: 40em) {
                margin-bottom: 0;
            }

            &:hover {
                background-color: var(--dark-box-stroke);
                border-color: var(--dark-box-stroke);
                filter: drop-shadow(0 0 rem(15) var(--gray));
            }
            h6 {
                margin: rem(10);
            }
            img {
                width: rem(140);
            }
        }
    }
}
