@use "../util" as *;

//LOCAL VARIABLES
$button-minecraft-discord: url("/tlacitko_discord.png");
$button-minecraft-discord-active: url("/tlacitko_active_discord.png");
$button-minecraft-web: url("/tlacitko_web.png");
$button-minecraft-web-active: url("/tlacitko_active_web.png");

// HEADER (WIKI, BUTTONS)
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: var(--margin-small);
    padding-bottom: var(--margin-xxlarge);
    background-image: url("/bg.png");
    background-size: cover;
    @media (min-width: 71.875em) {
        padding-top: var(--margin-xmedium);
        padding-bottom: var(--margin-extreme);
    }

    .title {
        width: 300px;
        height: 225px;
        @media (min-width: 40em) {
            width: 487px;
            height: 365px;
        }
    }

    button {
        margin-top: var(--margin-xmedium);
        background-size: cover;
        border: none;
        width: 305px;
        height: 38px;
        @media (min-width: 40em) {
            width: 552px;
            height: 69px;
        }
    }
    .tlacitko_discord {
        text-indent: -9999px; //remove text
        background-image: $button-minecraft-discord;
        &:hover {
            background-image: $button-minecraft-discord-active;
        }
    }
    .tlacitko_web {
        text-indent: -9999px; //remove text
        background-image: $button-minecraft-web;
        &:hover {
            background-image: $button-minecraft-web-active;
        }
    }
}

//welcome (fox, text)
.vitaj {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: var(--margin-large);
    padding-bottom: var(--margin-large);
    background-color: var(--dark1);
    text-align: center;
    @media (min-width: 40em) {
        flex-direction: row;
        text-align: left;
    }
    .fox {
        width: 200px;
        height: 200px;
        margin-bottom: var(--margin-small);
        @media (min-width: 40em) {
            width: 300px;
            height: 300px;
            margin-bottom: 0;
        }
    }
}

//mode selector (title, boxes)
.herny_mod {
    padding-top: var(--margin-large);
    padding-bottom: var(--margin-xxlarge);
    h3 {
        text-align: center;
        @media (min-width: 40em) {
            text-align: left;
        }
    }
    section {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        margin-top: var(--margin-xlarge);
        @media (min-width: 40em) {
            flex-direction: row;
            align-items: center;
        }
        button {
            margin-bottom: var(--margin-large);
            padding: var(--margin-xmedium);
            background-color: var(--dark-box);
            border-radius: var(--br-cards);
            border-color: var(--dark-box-stroke);
            border-style: solid;
            border-width: var(--border-width-small);
            box-sizing: border-box;
            text-align: center;
            transition: 0.2s;
            @media (min-width: 40em) {
                margin-bottom: 0;
            }

            &:hover {
                background-color: var(--dark-box-stroke);
                border-color: var(--dark-box-stroke);
            }
            h6 {
                margin: var(--margin-smaller);
            }
            img {
                width: rem(140);
            }
        }
    }
}
